<!DOCTYPE html> 
<html> 
	<head> 
		<title>Flask and SQLite </title> 
	</head> 
	<body> 
		<form method="POST"> 
			<label>Enter username:</label> 
			<input type="text" name="username" placeholder="Enter username" required><br/> 
			<label>Enter password:</label> 
			<input type="text" name="password" placeholder="Enter password" required><br/> 
			<label>Enter comment:</label> 
			<input type="text" name="comment" placeholder="Enter comment" required><br/> 
			 
			<input type = "submit" value = "submit"/><br/> 
		</form> 
	</body> 
</html>
